.todo-item {
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.todo-item.done {
  text-decoration: line-through;
  color: #aaa;
}

.todo-delete {
  float: right;
  opacity: 0.5;
}

.todo-item label {
  font-weight: normal;
  display: inline;
}
.hide{
  display: none;
}